<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #boadringPass, #assets, #coupon {
    width: 100%;
  }
  #assets {
    white-space: nowrap;
    height: 100px;
  }
</style>

<div class="content" role="main">
  <h1 style="display:inline">Angular Airlines</h1>
  <span> - {{ cuss2?.state || 'UNKNOWN' }}</span>

  <section *ngIf="connectionStatus">
    {{ connectionStatus }}
  </section>

  <section *ngIf="!connectionStatus">

    <label>Online:
      <input type="checkbox" [(ngModel)]="online"
             [ngModelOptions]="{standalone: true}">
    </label>

    <table>
      <tr *ngFor="let component of components">
        <td>{{ component.id }}</td>
        <td>{{ component.eventHandlingCode === 'UNAVAILABLE' ? '🚨' : '✅' }}</td>
        <td>{{ component.constructor.name }}</td>
        <td>{{ component.status }}</td>
        <td>{{ component.eventHandlingCode }}</td>
        <td><button (click)="component.query()">Query</button></td>
        <td><button (click)="component.enable()">Enable</button></td>
      </tr>
    </table>


    <button (click)="exit()" disabled="{{ canExit() ? '' : 'disabled' }}">Exit</button>
    <button (click)="cuss2?.queryComponents()">Query Components</button>
    <button (click)="cuss2?.requestReload()">Request Reload</button>
    <button (click)="cuss2?.requestActiveState()" [disabled]="!cuss2 || cuss2.state !== 'AVAILABLE'" >Request Active</button>

    <table *ngIf="!!cuss2">
      <tr><td>cussInterfaceVersions</td><td>{{ cuss2.environment.cussInterfaceVersions }}</td></tr>
      <tr><td>cussVersions</td><td>{{ cuss2.environment.cussVersions }}</td></tr>
      <tr><td>deviceID</td><td>{{ cuss2.environment.deviceID }}</td></tr>
      <tr><td>initTimeout</td><td>{{ cuss2.environment.initTimeout }}</td></tr>
      <tr><td>killTimeout</td><td>{{ cuss2.environment.killTimeout }}</td></tr>
      <tr><td>osName</td><td>{{ cuss2.environment.osName }}</td></tr>
      <tr><td>osVersion</td><td>{{ cuss2.environment.osVersion }}</td></tr>
      <tr><td>sessionTimeout</td><td>{{ cuss2.environment.sessionTimeout }}</td></tr>
    </table>

    <section id="boadringPass">
      <h2>Boarding Pass</h2>
      <details>
        <label for="assets">Assets</label><br>
        <textarea id="assets" [(ngModel)]="assets"></textarea><br>
        <label for="coupon">Coupon</label><br>
        <input id="coupon" type="text" [(ngModel)]="coupon" [ngModelOptions]="{standalone: true}"><br>
      </details>
      <button (click)="print()" [disabled]="!cuss2 || cuss2.state !== 'ACTIVE'">Print Boarding Pass</button>
    </section>
  </section>

</div>

<router-outlet></router-outlet>
